{% extends 'layout.html' %}


{% macro talk(talk_id) %}
  {% set talk = talks[talk_id] %}

  {% set url = url_for('.talk', talk_id=talk_id) %}
  <h3><a href="{{ url }}">{{ talk['title'] }}</a></h3>

  <p>
    <strong>Dată:</strong>
    {{ talk['date'] }}
  </p>

  <p>
    <strong>Locație:</strong>
    {{ talk['location'] }}
  </p>

  <p>
    <strong>Speaker:</strong>
    {{ talk['speaker'] }}
  </p>

  <p>
    <strong>Înregistrare:</strong>
    <a class="btn btn-small btn-warning"
       href="{{ talk['registration-link'] }}">Rezervă loc</a>
  </p>
{% endmacro %}


{% block content %}
  <div class="container">

    <div class="hero-unit">

      <h1>ROSEdu Web Workshops</h1>

      <p>
        După succesul răsunător al
        <a href="http://webdev.rosedu.org/">cursurilor WebDev</a>,
        ROSEdu organizează un nou eveniment, într-un nou format:
        workshop-uri hands-on, pe teme legate de web.
      </p>

    </div>


    <div class="row">

      <div class="span4">{{ talk('git') }}</div>

      <div class="span4">{{ talk('flask-intro') }}</div>

      <div class="span4">

        <h3>TBA</h3>

        <p>
          <strong>Dată:</strong>
          TBA
        </p>

        <p>
          <strong>Locație:</strong>
          TBA
        </p>

        <p>
          <strong>Speaker:</strong>
          TBA
        </p>

      </div>

    </div>

  </div>
{% endblock %}
