{% extends 'layout.html' %}


{% block content %}
  <div class="container">

    <div class="hero-unit">

      <h1>ROSEdu Web Workshops</h1>

      <p>
        După succesul răsunător al
        <a href="http://webdev.rosedu.org/">cursurilor WebDev</a>,
        ROSEdu organizează un nou eveniment, într-un nou format:
        workshop-uri hands-on, pe teme legate de web.
      </p>

    </div>


    <div class="row">

      <div class="span4">
        {% set talk = talks['git'] %}

        <h3>{{ talk['title'] }}</h3>

        <p>
          <strong>Dată:</strong>
          {{ talk['date'] }}
          <span class="label label-warning">(tentative)</span>
        </p>

        <p>
          <strong>Locație:</strong>
          {{ talk['location'] }}
        </p>

        <p>
          <strong>Speaker:</strong>
          {{ talk['speaker'] }}
        </p>

      </div>

      <div class="span4">

        <h3>Something awesome</h3>

        <p>
          <strong>Dată:</strong>
          TBA
        </p>

        <p>
          <strong>Locație:</strong>
          TBA
        </p>

        <p>
          <strong>Speaker:</strong>
          Captain America
        </p>

      </div>

      <div class="span4">

        <h3>Something awesomer</h3>

        <p>
          <strong>Dată:</strong>
          TBA
        </p>

        <p>
          <strong>Locație:</strong>
          TBA
        </p>

        <p>
          <strong>Speaker:</strong>
          Jet Lee
        </p>

      </div>

    </div>

  </div>
{% endblock %}
