{% extends 'layout.html' %}

{% macro gravatar(code) -%}
    <img src="https://secure.gravatar.com/avatar/{{ code }}?s=240">
{%- endmacro %}


{% block content %}
  <div class="container">

    <hgroup>
      <h1>ROSEdu Web Workshops</h1>
      <h2>{{ talk['title'] }}</h2>
    </hgroup>

    <div class="mugshots pull-right">
    {%- for hash in talk['speaker-images'] %}
      {{ gravatar(hash) }}
    {%- endfor %}
    </div>

    <header class="meta">
      <p>
        <strong>Dată:</strong>
        {{ talk['date'] }}
      </p>

      <p>
        <strong>Locație:</strong>
        {{ talk['location'] }}
      </p>

      <p>
        <strong>Speaker:</strong>
        {{ talk['speaker'] }}
      </p>
    </header>

    {{ talk['abstract'] }}

    {%- if talk['registration-iframe'] %}
      <iframe src="{{ talk['registration-iframe'] }}"
              frameborder="0" height="214" width="100%"
              vspace="0" hspace="0" marginheight="5" marginwidth="5"
              scrolling="auto" allowtransparency="true"></iframe>
    {%- elif talk['registration-link'] %}
      <p><a class="btn btn-small btn-warning"
            href="{{ talk['registration-link'] }}">Rezervă loc</a></p>
    {%- endif %}

  </div>
{% endblock %}
